<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image URL</label>
            <input type="text" class="form-control" id="image-url" formControlName="imagePath" #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" rows="6" class="form-control" id="content" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group" formArrayName="ingredients">
            <div class="row" *ngFor="let ingredient of recipeForm.controls['ingredients']['controls']; let i = index">
              <div formGroupName="{{i}}">
                <div class="col-sm-5"><input type="text" class="form-control" formControlName="name"></div>
                <div class="col-sm-5"><input type="text" class="form-control" formControlName="amount"></div>
                <div class="col-sm-2"><button class="btn btn-danger" (click)="onDeleteItem(i)">X</button></div>
              </div>
              <br><br>
            </div>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <div class="form-group row">
        <div>
          <div class="col-sm-5"><input type="text" class="form-control" #itemName></div>
          <div class="col-sm-5"><input type="text" class="form-control" #itemAmount></div>
          <div class="col-sm-2"><button class="btn btn-primary" (click)="onAddItem(itemName.value, itemAmount.value)">+</button></div>
        </div>
        <br><br>
      </div>
  </div>
</div>
